/ResidentManagement/nbproject/
/ResidentManagement/dist
/ResidentManagement/build.xml
/ResidentManagement/build
/ResidentManagement/src/java/db.properties
ResidentManagement/build
test.txt
/ResidentManagement/build
ResidentManagement/nbproject/build-impl.xml
ResidentManagement/nbproject/genfiles.properties
ResidentManagement/nbproject/project.properties
ResidentManagement/nbproject/project.xml
