/ResidentManagement/dist
/ResidentManagement/build.xml
/ResidentManagement/build
/ResidentManagement/src/java/db.properties
ResidentManagement/build
test.txt
ResidentManagement/build/*
ResidentManagement/nbproject/private/retriever/jakarta.ee/xml/ns/jakartaee/jakartaee_web_services_client_2_0.xsd
/ResidentManagement/nbproject
