/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 1, 2025, 3:23:49 PM
    Author     : huyng
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* Nunito */
@font-face {
    font-family: 'Nunito';
    src: url("../fonts/nunito/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito/NunitoSans-Bold.woff") format("woff"), url("../fonts/nunito/NunitoSans-Bold.ttf") format("truetype"), url("../fonts/nunito/NunitoSans-Bold.svg#SFUFutura") format("svg");
    font-weight: bold;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/nunito/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito/NunitoSans-SemiBold.woff") format("woff"), url("../fonts/nunito/NunitoSans-SemiBold.ttf") format("truetype"), url("../fonts/nunito/NunitoSans-SemiBold.svg#SFUFutura") format("svg");
    font-weight: 500;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/nunito/NunitoSans-Regular.woff") format("woff"), url("../fonts/nunito/NunitoSans-Regular.ttf") format("truetype"), url("../fonts/nunito/NunitoSans-Regular.svg#SFUFutura") format("svg");
    font-weight: normal;
}

.container{
    max-width: 80%;
}

.navbar-brand{
    flex-basis: 30%;
    max-width: 30%;
}

.custom-navbar{
    min-height: 110px;
    background-size: cover;
}

.navbar-item{
    padding-left: 5px;
}

.navbar-item span{
    align-self: center;
}

.navbar-nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#navbarNav{
    width:50%;
}

.account-icon {
    display: flex !important;  /* Force flex to override Bootstrap */
    align-items: center;  /* Align icon and text vertically */
    gap: 8px; /* Add spacing between icon and text */
    text-decoration: none;
}

.nav-link{
    display: flex !important;
    align-items: center;
    gap: 8px;
}

.typing::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

